<div class="model-selection-wrapper">
  <div class="nav-bar-container">
    <pgpt-nav-bar
      [navBarElements]="navBarElements"
      [landingPageContainer]="false"
    ></pgpt-nav-bar>
  </div>
  <div class="content-container">
    <div class="heading">Choose the Model</div>
    <div class="models">
      <div class="openai model">
        <div class="title">OpenAI</div>
        <div class="advantages">
          <div class="adv">
            <img src="../../../assets/Icons/checkmark.png" alt="checkmark" />
            <span>More Accurate</span>
          </div>
          <div class="adv">
            <img src="../../../assets/Icons/checkmark.png" alt="checkmark" />
            <span>Trained data is higher in GPT 3.5</span>
          </div>
          <div class="adv">
            <img src="../../../assets/Icons/checkmark.png" alt="checkmark" />
            <span>Get $5 free credit per month</span>
          </div>
        </div>
        <div class="steps">
          <div class="sub-heading">To use this you need to,</div>
          <div class="step-container">
            <div class="step">
              <span>1. </span>Create an <a href="#">OpenAI account</a>
            </div>
            <div class="step">
              <span>2. </span>Generate an <a href="#">API Key</a> and copy the
              API Key
            </div>
          </div>
        </div>
        <div class="btn-container">
          <div class="continue btn">Continue with OpenAI</div>
        </div>
      </div>
      <div class="llama model">
        <div class="title">LLAMA-2</div>
        <div class="advantages">
          <div class="adv">
            <img src="../../../assets/Icons/checkmark.png" alt="checkmark" />
            <span>High Performance</span>
          </div>
          <div class="adv">
            <img src="../../../assets/Icons/checkmark.png" alt="checkmark" />
            <span>Offer more upto date data that GPT 3.5</span>
          </div>
          <div class="adv">
            <img src="../../../assets/Icons/checkmark.png" alt="checkmark" />
            <span>Get Free API calls</span>
          </div>
        </div>
        <div class="steps">
          <!-- <div class="sub-heading">Powered by LLAMA API</div> -->
        </div>
        <div class="btn-container">
          <div class="continue btn">Continue with LLAMA-2</div>
        </div>
      </div>
    </div>
  </div>
</div>
