.nav-bar-container {
  width: max-content;
  height: max-content;
}

.nav-bar-container .btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.nav-bar-container .btn-container .btn {
  width: 7rem;
  height: 2;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--pgpt-f-n);
  font-weight: 600;
}

.nav-bar-container .btn-container .btn.login-btn {
  background-color: var(--pgpt-clr-dark-yellow);
  color: var(--pgpt-clr-dark-blue);
}

.nav-bar-container .btn-container .btn.signup-btn {
  border: 2px solid var(--pgpt-clr-white);
  color: var(--pgpt-clr-white);
}
