<div class="landing-page-wrapper">
  <div class="nav-bar-container">
    <div class="border-indicator"></div>
    <pgpt-nav-bar
      [navBarElements]="navBarElements"
      [landingPageContainer]="true"
    ></pgpt-nav-bar>
  </div>
  <div class="landing-page-container">
    <div class="hero-section">
      <div class="cover-section">
        <img
          src="../../../assets/Icons/logo-stroke.png"
          loading="eager"
          alt="logo"
        />
      </div>
      <div class="content-section">
        <div class="caption1">
          Unleashing the Art of Intelligent Conversations
        </div>
        <div class="title">Personalize<span>GPT</span></div>
        <div class="caption2">
          Customized Intelligence, Seamless Conversations
        </div>
        <div class="btn-container">
          <div class="get-start btn">Get Start</div>
        </div>
      </div>
    </div>
    <div class="border-indicator"></div>
  </div>
</div>
