<div class="home-wrapper">
  <div
    class="side-bar-container"
    #sidebarContainer
    [ngClass]="{ inactive: !sideBarIn }"
  >
    <div class="slide" (click)="handleSlide()">
      <img src="../../../assets/Icons/slide-right.png" alt="slide" />
    </div>
    <div class="side-bar-panel" #sidebar>
      <div class="logo-container">
        <img src="../../../assets/Icons/logo-stroke-low.png" alt="logo" />
        <div class="name-caption">
          <div class="name">Personalize<span>GPT</span></div>
          <div class="caption">
            Customized Intelligence, Seamless Conversations
          </div>
        </div>
      </div>
      <div class="side-bar-items">
        <div class="upper-items">
          <div class="new-chat"><span>+</span> Start a new Chat</div>
          <div class="chat-bot-container">
            <div class="btn chat-bot-start">
              <img src="../../../assets/Icons/bot.png" alt="start bot" />
              <div class="content" (click)="onDocumentAnalyzerClick()">
                Document Analyzer Chatbot
              </div>
            </div>
          </div>
          <div class="options">
            <div class="settings item btn">
              <img src="../../../assets/Icons/admin.png" alt="settings" />
              <div class="content">Settings</div>
            </div>
            <div class="llm-model-change btn">
              <img src="../../../assets/Icons/modal.png" alt="model change" />
              <div class="content">Change LLM Model</div>
            </div>
          </div>
        </div>
        <div class="lower-items">
          <div class="profile item btn">
            <img src="../../../assets/Icons/user.png" alt="user" />
            <div class="content">Venura Warnasooriya</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-display" #chat [ngClass]="{ active: !sideBarIn }">
    <div class="history-btn" (click)="handleHistoryPanelClick()">
      <img src="../../../assets/Icons/clock.png" alt="clock" />
    </div>
    <div class="history-panel" [ngClass]="{ active: historyPanelOpened }">
      <div class="close" (click)="handleHistoryCloseClick()">
        <img src="../../../assets/Icons/cancel.png" alt="close" />
      </div>
      <div class="title">History</div>
      <div class="items">
        <div class="item">
          <img src="../../../assets/Icons/message.png" alt="message" />
          <div class="content">
            What is the capital of Sri Lanka sasdasd asdas
          </div>
        </div>
        <div class="item">
          <img src="../../../assets/Icons/message.png" alt="message" />
          <div class="content">
            What is the capital of Sri Lanka sasdasd asdas
          </div>
        </div>
      </div>
    </div>
    <div
      class="chat-section"
      [ngClass]="{ historyActivated: historyPanelOpened }"
    >
      <div class="chat-container">
        <div class="starting-container" *ngIf="messages.length === 0">
          <img src="../../../assets/Icons/logo-low.png" alt="logo" />
          <div class="content">
            <div class="welcome">Hello Venura,</div>
            <div class="help">Is there anything you need from me?</div>
          </div>
        </div>
        <div class="chat-wrapper" *ngIf="messages.length > 0">
          <div class="chat-part" *ngFor="let data of messages">
            <div class="user-chat chat" *ngIf="data.role === 'user'">
              <div class="profile">
                <img src="../../../assets/Icons/user.png" alt="user" />
              </div>
              <div class="content">{{ data.content }}</div>
            </div>
            <div class="bot-chat chat" *ngIf="data.role === 'bot'">
              <div class="profile">
                <img src="../../../assets/Icons/logo-low.png" alt="logo" />
              </div>
              <div class="content">{{ data.content }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-container">
        <input
          type="text"
          id="value-input"
          class="value-input"
          placeholder="Message PersonalizeGPT..."
        />
        <img src="../../../assets/Icons/send.png" alt="send" />
      </div>
    </div>
  </div>
  <div class="chat-bot-wrapper" *ngIf="documentAnalyzerOn">
    <div class="bot-logo">
      <img src="../../../assets/Icons/bot.png" alt="bot" />
    </div>
    <div class="bot-chat">
      <div class="btn-container">
        <!-- <div class="minimize btn" (click)="documentAnalyzerMinimized = true">
          <img src="../../../assets/Icons/minus.png" alt="minimize" />
        </div> -->
        <div class="close btn" (click)="documentAnalyzerOn = false">
          <img src="../../../assets/Icons/cancel.png" alt="close" />
        </div>
      </div>
      <div class="chat-bot-container">
        <div class="starting-container">
          <img src="../../../assets/Icons/logo-low.png" alt="logo" />
          <div class="content">Upload your document to start the chat</div>
          <div class="upload">
            <div class="btn" (click)="file_input.click()">
              Upload the Document
            </div>
            <input type="file" #file_input name="doc" id="doc" accept=".pdf" />
          </div>
        </div>
      </div>
      <div class="input-container">
        <input type="text" class="value-input" />
        <img src="../../../assets/Icons/send.png" alt="send" />
      </div>
    </div>
  </div>
</div>
