@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

:root {
  /* colors */
  --pgpt-clr-dark-blue: #03093e;
  --pgpt-clr-normal-blue: #021056;
  --pgpt-clr-light-blue: #0798f2;
  --pgpt-clr-dark-yellow: #f2bc1b;
  --pgpt-clr-light-yellow: #f2c879;
  --pgpt-clr-white: #f2ede9;
  --pgpt-clr-red: #ff293b;

  /* Typography */
  --pgpt-f-xs: 0.5rem;
  --pgpt-f-s: 0.6rem;
  --pgpt-f-n: 0.75rem;
  --pgpt-f-m: 1rem;
  --pgpt-f-l: 2rem;
  --pgpt-f-xl: 4rem;
  --pgpt-f-family: "Open Sans", sans-serif;

  --side-bar-min-width: 18rem;
  --side-bar-width: clamp(18rem, 30vw, 22rem);
  --side-bar-max-width: 22rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: var(--pgpt-f-family);
  color: var(--pgpt-clr-white);
  background-color: var(--pgpt-clr-dark-blue);
}

.logo-name {
  color: var(--pgpt-clr-dark-yellow);
}

.logo-name span {
  color: var(--pgpt-clr-light-blue);
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--pgpt-clr-light-blue);
  border-radius: 12px;
}

@media only screen and (max-width: 1180px) {
  :root {
    /* Typography */
    --pgpt-f-xs: 0.5rem;
    --pgpt-f-s: 0.5rem;
    --pgpt-f-n: 0.7rem;
    --pgpt-f-m: 0.8rem;
    --pgpt-f-l: 1.5rem;
    --pgpt-f-xl: 3rem;
    --pgpt-f-family: "Open Sans", sans-serif;
  }
}

@media only screen and (max-width: 910px) {
  :root {
    /* Typography */
    --pgpt-f-xs: 0.5rem;
    --pgpt-f-s: 0.5rem;
    --pgpt-f-n: 0.6rem;
    --pgpt-f-m: 0.7rem;
    --pgpt-f-l: 1.3rem;
    --pgpt-f-xl: 2.7rem;
    --pgpt-f-family: "Open Sans", sans-serif;
  }
}
